/* reset.css */

/* Remove margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define uma fonte padrão */
body {
    font-family: 'DM Sans', sans-serif; /* Altere para a fonte desejada */
}

/* Remove estilos de lista */
ul, ol {
    list-style: none;
}

/* Remove estilos de links */
a {
    text-decoration: none;
    color: inherit; /* Faz com que a cor do link herde a cor do texto */
}

/* Remove bordas de imagens */
img {
    max-width: 100%;
    height: auto;
    display: block; /* Remove o espaço embaixo das imagens */
}